{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edit note</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <button class="btn btn-primary btn-sm" type="submit">Save</button>
    {{ form_end(edit_form) }}

    <hr class="mt-5"/>

    <div class="mt-4">
        <a class="btn btn-secondary btn-sm" href="{{ path('note_index') }}">
            Back to the list
        </a>

        <div style="display:inline-block">
            {{ form_start(delete_form) }}
            <button class="btn btn-danger btn-sm" type="submit" value="Delete">Delete</button>
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}
